@import '../theme/index.less';

.modal {
  background: #ccc;

  .modal-drop-filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all @transition-duration;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: 1000;
    transition: all @transition-duration;
  }

  .modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-inner {
      width: 600px;
      min-height: 400px;
    }
  }

  .modal-body {
    opacity: 0;
    transition: all @transition-duration;
    .modal-header {
      background-color: #19afff;
      color: #fff;
      padding: 15px 20px;
      position: relative;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .modal-content {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 20px;
      background-color: #fff;
    }
    .modal-footer {
      padding: 20px;
      background-color: #fff;
    }
  }
}

.visible {
  .modal-drop-filter {
    opacity: 0.6;
  }

  .modal-body {
    opacity: 1;
    transition: all @transition-duration;
  }
}
