.card {
  flex-basis: 19%;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-color: #eee;

  display: flex;
  justify-content: center;

  margin: 3px;
  min-height: 200px;

  .cardWrapper {
  }
}
