.footer {
  width: 100%;
  position: relative;
  background-color: #333;
  color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px 32px;
  box-sizing: border-box;
  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 6px;
  }
}
